.stats {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border: solid 1px white;
    padding: 0px;
    margin: 0px;
    height: 100px;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px white;
    width: 250px;
    padding-left: 25px;
    padding-right: 25px;
}

li {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.label{
    text-align: center;
   font-size: 16px;
   margin-bottom: 10px;
}

.quantity {
    text-align: center;
    font-weight: 700;
}

