.statistics {
 width: 600px;
 height: 150px;
 margin-right: auto;
 margin-left: auto;
margin-bottom: 100px;
background-color: #00bfff;
text-align: center;
box-shadow: 1px 1px gray;
}


.title {
    display: inline-block;
    margin-top: 20px;
}

.statList {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.item {
    width: 200px;
    height: 80px;
    background-color: aquamarine;
    margin: 0;
    border: solid 1px gray;
}

.label {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 8px;
}

.percentage {
    font-size: 26px;
}